@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");

.contact-us {
  font-size: 0.9em;
  position: relative;
  width: 100%;
  height: 450px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .lef-col-cont {
  position: relative;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-us .lef-col-cont .contact-title {
  font-size: 2.5em;
  color: #e67e22;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

.contact-us .lef-col-cont .contact-desc {
  font-size: 1.3em;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 0.5em;
  font-weight: 100;
}

.contact-us .rig-col-cont {
  height: 100%;
  width: 50%;
  background-size: cover;
  background-position: center center;
}

.contact-us-cords {
  font-size: 0.9em;
  position: relative;
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  padding: 2em 0;
  margin-top: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us-cords .cord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-us-cords .cord i {
  font-size: 1.7em;
  margin: 0 0.5em;
  color: #e67e22;
}

.contact-us-cords .cord .data {
  font-size: 1.4em;
}

.contact-us-cords .cord .data .title-data {
  font-size: 1em;
  font-family: Falling;
}

.contact-us-cords .cord .data .data-text {
  margin-top: 0.5em;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.85em;
}

.form-contact-us {
  font-size: 0.9em;
  position: relative;
  width: calc(1000px - 4em);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  -webkit-box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.1);
  padding: 0.2em 2em;
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
          background-image: url(/assets/img/4.jpg);
          background-size: cover;
          background-position: center center;
          z-index: 4;
}
.form-contact-us::before {
  position: absolute;
  width: 100%; 
  height: 100%;
  background-color: rgba(0, 0, 0, 0.612);
  top: 0;
  content: "";
}

.form-contact-us form {
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 8;
}

.form-contact-us form button {
  font-size: 1.3em;
  padding: .8em 5em;
  margin: 1em 0;
  background-color: #e67e22;
  color: #fff;
  font-family: Falling;
  border: none;
  border-radius: 4px;
}

.form-contact-us form .top-section {
  margin-top: 3em;
  background-color: rgba(255, 255, 255, 0.741);
  padding: 1.5em 0.5em;
}

.form-contact-us form .top-section .title-form {
  font-size: 1.8em;
  color: #e67e22;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: #1b1b1b;
}

.form-contact-us form .top-section .msg-form {
  font-size: 1.3em;
  margin: 0.7em 0 3em 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  color: #e67e22;
}

.form-contact-us form .con12 {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;

}

.form-contact-us form .con12 .conIn {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  margin-bottom: 2em;
}
.form-contact-us form .con12 .conIn input,.form-contact-us form .con12 .conIn select {
  width: calc(45% - 1em);
  display: block;
  padding: .8em .5em ;
  font-size: 1.2em;
  font-family: "Source Sans Pro", sans-serif;

}

@media all and (max-width: 1000px) {
  .contact-us div.lef-col-cont {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .contact-us div.lef-col-cont .container-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0.685);
    padding: 1.5em 0.5em;
    margin: 0 1em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 0.9em;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-us div.rig-col-cont {
    width: 100%;
  }
  .contact-us-cords {
    font-size: 0.85em;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    margin: 0 !important;
  }
  .contact-us-cords .cord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 1.5em 0;
  }
  .contact-us-cords .cord i {
    font-size: 1.5em;
    margin: 0 0.5em;
    color: #e67e22;
  }
  .contact-us-cords .cord .data .title-data {
    -webkit-transform: translateY(-0.2em);
            transform: translateY(-0.2em);
  }
  .contact-us-cords .cord .data .data-text {
    margin-top: 0.3em;
  }
  button {
    width: 100%;
    border-radius: 5px;
  }
  .form-contact-us {
    width: calc(100% - 1.5em);
    font-size: 0.8em;
  }
 .form-contact-us form .con12 .conIn {
  position: relative;
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top:0 !important;
  margin-bottom: 0 !important;
}
.form-contact-us form .con12 .conIn input,.form-contact-us form .con12 .conIn select {
  width: calc(100% - 1em) !important;
  display: block;
  padding: .8em .5em ;
  font-size: 1.2em;
  font-family: "Source Sans Pro", sans-serif;
  margin: 1em 0;

}
}
.close-popup {
  display: none;
}
.open-popup {
  display: block;
}

.box-a {
  border: 1px solid #cc611a;
  border-radius: max(0px, min(8px, calc((100vw - 4px - 100%) * 9999))) / 8px;
  --shadow-t: rgba(7, 7, 7, 0.199);
  box-shadow: 0 2px 12px var(--shadow-t);
  background-color: #e6925a;
}

.box-a {
padding: 10px;
padding: 10px;
width: 50vw;
min-height: 150px;
display: none;
position: fixed;
top: 50px;
left: 50%;
transform: translateX(-50%);
margin: 0 auto;
/* margin-top: -250px; */
z-index: 999;

}

.start {
position: fixed;
right: 20px;
bottom: 20px;
}

.e-click {
  display: block;
margin-top: 100px;
animation-delay: 5s;
animation: bounce .5s alternate ease;
}

@keyframes bounce {
0% {
  margin-top: -250px;
}
  20% {
  margin-top: 100px;
}
 35% {
  margin-top: 80px;
}
55% {
  margin-top: 100px;
}

  65% {
  margin-top: 90px;
}

  80% {
  margin-top: 100px;
}

100% {
  margin-top: 100px;
}
}

i.close-i {
position: absolute;
top: 15px;
right: 10px;
}

i.close-i:hover:before {
background-color: #be8039;
}

i.close-i:before {
content: "✖";
background-color: #d1c6b8;
border-radius: 50%;
padding:0.5rem 0.6rem;
cursor: pointer;
font-style:normal;
color: #706760;
}